:root {
  --color-primary: #941f1f;
  --color-secondary: #090f58;
  --color-accent: #ff3400;
  --color-headings: #f3f3f3;
  --color-body: #5c1a1a;
  --color-body-darker: #2b020e;
  --color-border: #ccc;
  --color-background: whitesmoke;
  --border-radius: 30px;

  
}

/*=================Tipografía=================*/
html{
    font-size: 65%
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: var(--color-body);
    background-color: var(--color-background);
}

p{
    text-align: justify;
    font-size: 0.8em;
}

pre{
  font-size: 60%;
}

img{
    width: 40%;
}

table{
    border: 3px solid black;
    border-collapse: collapse;
    -moz-column-span:all;
         column-span:all;
}

th, td, tr{
    border: 2px solid black;
    
}

form{
  padding: 20px;
  max-width: fit-content;
  margin: 0 auto;
}

form input{
    background-color: var(--color-primary);
}

form select{
  background-color: var(--color-background);
}

/* =================@media================= */

@media (min-width: 1201px){
  section{
    width: 80%;
    float:none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 800px) and (max-width: 1200px){
  section{
    width: 70%;
    float:none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 700px){
  section{
    width: 60%;
    float:left;
    padding: 0;
    margin: 0;
  }
}


/* =================Botones================= */

button{
    border-radius: 30px;
    cursor: pointer;
    color: var(--color-primary);
}
button a{
    text-decoration: none;
    color: var(--color-primary);
}

/*=================Header=================*/
header{
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    margin-right: 2rem;
    margin-left: 0rem;
    padding: 0 1rem;
    background-color: #000;
}

header h1{
    color: var(--color-headings);
}

/*=================Nav=================*/
nav{
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:0 1rem;
  align-items: center;
}
nav ul{
    gap: 2rem;
    list-style: none;
}

.nav--button{
    background: var(--color-headings);
}

/*=================Main=================*/

section{
    border: 1px solid black;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    background-color: lab(100% 0.01 -0.01);
}

article{
    width: 70%;
}

/*=================Footer=================*/
footer{
    display: flex;
}

/*==================================================================================================================================*/

/*=================CLASES PERSONALIZADAS==================*/

.description{
    background-color: rgb(109, 105, 101);
}

/*==================Fichas/tarjetas/bloques==================*/
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

/* Clase generica container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
  max-width: fit-content;
}

.block__header {
  text-align: center;
  color: #fff;
}
.block__heading {
  margin-top: 0;
  padding: var(--padding-vertical) 1rem;
  color: #ff3400;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

/* Badges */
/* structue */
.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 2rem;
  white-space: nowrap;
}

.badge--primary{
    background: var(--color-primary);
    color: white;
}