:root {
  --color-primary: #941f1f;
  --color-secondary: #090f58;
  --color-accent: #ff3400;
  --color-headings: #f3f3f3;
  --color-body: #5c1a1a;
  --color-body-darker: #2b020e;
  --color-border: #ccc;
  --color-background: whitesmoke;
  --border-radius: 30px;

  
}