@media (min-width: 1201px){
  section{
    width: 80%;
    float:none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 800px) and (max-width: 1200px){
  section{
    width: 70%;
    float:none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 700px){
  section{
    width: 60%;
    float:left;
    padding: 0;
    margin: 0;
  }
}
